*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      
}
.container
{
      background-color:rgb(237, 18, 149) ;
      color: rgb(223, 190, 190);
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      /* margin: auto; */
      align-items: center;

}
.inner
{
      display: flex;
      justify-content: space-around;
     
}
.items
{
      margin: 1rem 1rem;
      cursor: pointer;
      padding: 1rem 1rem;
      border: 2px solid;
      border-radius: 3rem;
      transition: all 0.1s ease-in 0s;
}
.items:hover{
      background-color: tomato;
}
.footer
{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: fuchsia;
      color: antiquewhite;
}
.body
{
      display:flex;
      /* justify-content: center; */
      flex-wrap: wrap;
}
.data
{
      border: 2px solid black;
      height: 20rem;
      width: 20vw;
      margin: 2rem 2rem;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
}
.food
{
      font-size: 1rem;
      font-weight: bold;
}
.input
{
      margin: 2rem 2rem;
      font-size: 2rem;
      
}
input{
      height: 3rem;
      width: 15rem;
}
.btn
{
      margin-left: 0.2rem;
      border-radius: 1.2rem;
      background-color: burlywood;
      font-size: 2rem;
}
.main
{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

}
.mainInner{
      height: 15rem;
      width: 15rem;
      
      border: 1px solid rgb(240, 224, 224);
      background-color: rgb(194, 173, 173);
}
.paras
{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      
}